!!!5
/[if lt IE 7] <html class="lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="lt-ie9 lt-ie8">
/[if IE 8] <html class="lt-ie9">
/ [if gt IE 8]><!
%html
  / <![endif]
  %head
    %meta{:charset => 'utf-8'}/
    
    /Mobile Viewport Fix
    /http://j.mp/mobileviewport - http://davidbcalhoun.com/2010/viewport-metatag
    /device-width : Occupy full width of the screen in its current orientation
    /initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
    /maximum-scale = 1.0 retains dimensions instead of zooming in if page width < device width (/not recommended for accessibility reasons)

    -#Vendor specific meta
    -#=partial 'partials/vendor/meta'

    -# To set titles and descriptions globally and for each individual page, see /DOCS.md
    %title
      = page_title
    %meta{ :content => page_description, :name => 'description' }
    %meta{ :content => '', :name => 'keywords' }/

    %meta{ :content => 'true', :name => 'HandheldFriendly' }
    %meta{ :content => 'width=device-width, initial-scale=1.0, minimum-scale=1.0', :name => 'viewport' }/
    %meta{ :content => 'IE=edge,chrome=1', 'http-equiv' => 'X-UA-Compatible' }/
    %meta{ :content => 'yes', :name => 'apple-mobile-web-app-capable' }/

    = javascript_include_tag ('lib/modernizr-2.7.1.dev.js')

    = stylesheet_link_tag 'styles.css', { :media => 'all' };
    - if data.page.pageStyles
      - data.page.pageStyles.each do |href|
        = stylesheet_link_tag href, { :media => 'all' }

    /[if lt IE 9] 
      = javascript_include_tag ('lib/html5shiv.js')

  %body{ :id => 'application' }
    /[if lt IE 7] <p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p>
  
  #wrapper

    %header{ :id => 'global-header', :class => 'container-full clearfix' }
      =partial 'partials/global-header'

    .container-full

      %section.container{ :id => 'main' }
        = yield

    %footer{ :id => 'global-footer', :class => 'container-full' }
      =partial 'partials/global-footer.haml'

  %script{ :src => '//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js' }/
  :javascript
    window.jQuery || document.write('<script src="assets/js/lib/jquery.min.js"><\/script>')

  = javascript_include_tag('App.js')
  /= javascript_include_tag('StickyHeader.js')
  = javascript_include_tag('Fonts.js')
  /= javascript_include_tag('experience.js')
  /= javascript_include_tag('expandableDrawer.js')
  = javascript_include_tag('sortingHat.js')

  :javascript
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));